%heading{
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 4.5rem;
    line-height: 1;
}

.mt-sm{
    margin-top: 2rem;
}

.mb-sm{
    margin-bottom: 2rem;
}

.mb-md{
    margin-bottom: 4rem;
}
